@import url('fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
@import url('fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
@import url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');

html, body {
  margin: 0;
  font-family: 'Source Sans Pro Light', 'Arial', sans-serif;
  width: 100%;
  height: 100%;
}

nav {
  text-align: center;
  font-family: 'Source Sans Pro Semibold', 'Arial', sans-serif;
}

nav a {
  font-size: 2em;
  text-decoration: none;
  padding: 0 30px;
}

h1 {
  text-align: center;
}

#gameCanvas {
  margin: 0 auto;
  width: 80%;
  height: calc(100% - 150px);
  border: 3px ridge #091034;
  background: #dde3fd;
}

.blue-darker {
  color: #091034;
}
.blue-dark {
  color: #0a2299;
}
.blue-regular {
  color: #183bf0;
}
.blue-light {
  color: #798ef6;
}
.blue-lighter {
  color: #dde3fd;
}