#chessboard {
  width: 512px;
  height: 512px;
  margin: auto;
  cursor: pointer;
}

.field {
  width: 64px;
  height: 64px;
  display: block;
  float: left;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  box-sizing: border-box;
}

.field-black {
  background: #d18b45;
}
.field-white {
  background: #fece9d;
}

.pieceHtml {
  font-size: 48px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.white {
  color: #eee
}
.black {
  color: #222;
}

.selected {
  color: #dd3a3b;
}